@use '../../variables' as *;
@use '../../mixins' as *;
.unique-decor {
    font-family: Muller-Trial-Regular;
    max-width: 1200px;
    padding: 20px;
    margin-top: 60px;

    &__header {
        margin-bottom: 40px;
    }

    &__title {
        font-family: Muller-Trial-Bold;
        font-size: 35px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #000000;

        @media (max-width: 767px) {
            font-size: 28px;
        }
    }

    &__subtitle {
        font-family: Muller-Trial-RegularItalic;
        font-size: 25px;
        color: #595959;

        @media (max-width: 767px) {
            font-size: 20px;
        }
    }

    &__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 10px;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }
    }

    &__image {
        display: flex;
        margin-bottom: 250px;

        @media (max-width: 1023px) {
            margin-bottom: 150px;
        }

        @media (max-width: 767px) {
            margin-bottom: 100px;
        }
    }

    &__product-title {
        font-family: Muller-Trial-Regular;
        font-size: 30px;
        margin-top: 75px;
        color: #000000;

        @media (max-width: 1023px) {
            font-size: 26px;
            margin-top: 50px;
        }

        @media (max-width: 767px) {
            font-size: 22px;
            margin-top: 30px;
        }
    }

    @media (max-width: 1023px) {
        padding: 15px;
        margin-top: 40px;
    }

    @media (max-width: 767px) {
        padding: 10px;
        margin-top: 30px;
    }
}