@use '../variables' as *;
@use '../mixins' as *;


.cooperation {
    height: 640px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background-color: #e7e1df;
    justify-content: center;
    overflow: hidden;

    @include respond-to('big_laptop') {
        height: 500px;
    }

    @include respond-to('tablet') {
        height: 400px;
    }

    @include respond-to('big_mobile') {
        height: 250px;
    }


    &__bg {
        position: absolute;
        z-index: 0;
        right: 0;
        background-color: $primary-color;
        mix-blend-mode: multiply;
        overflow: hidden;


        @include respond-to('before_desktop') {
            width: 50%;
            height: 100%;
        }

        @include respond-to('laptop') {
            width: 100%;
        }
    }

    &__shadow {
        width: 100vw;
        height: 100%;
        position: absolute;
        z-index: 1;
        object-fit: cover;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        z-index: 2;

        @include respond-to('tablet') {
            gap: 15px;
        }

        @include respond-to('big_mobile') {
            gap: 10px;
        }


        &__title {
            font-size: 45px;

            @include respond-to('big_laptop') {
                font-size: 35px;
            }

            @include respond-to('tablet') {
                font-size: 25px;
            }

            @include respond-to('big_mobile') {
                font-size: 20px;
            }
        }

        &__description {
            font-size: 30px;

            @include respond-to('big_laptop') {
                font-size: 20px;
            }

            @include respond-to('tablet') {
                font-size: 15px;
            }

            @include respond-to('big_mobile') {
                font-size: 10px;
            }
        }

        input {
            width: 500px;
            height: 50px;
            color: $primary-color;
            border: 1px solid;
            border-radius: 4px;
            padding-left: 20px;
            background: transparent;

            @include respond-to('big_laptop') {
                width: 400px;
            }

            @include respond-to('laptop') {
                height: 40px;
                background-color: #F3F3F0;
            }

            @include respond-to('tablet') {
                width: 300px;
                height: 30px;
                font-size: 8px;
            }

            @include respond-to('big_mobile') {
                width: 200px;
                height: 20px;
                font-size: 6px;
                padding-left: 10px;
            }
        }

        textarea {
            width: 500px;
            height: 80px;
            color: $primary-color;
            border: 1px solid;
            border-radius: 4px;
            padding-left: 20px;
            padding-top: 10px;
            background: transparent;

            @include respond-to('big_laptop') {
                width: 400px;
            }

            @include respond-to('laptop') {
                height: 50px;
                background-color: #F3F3F0;
            }

            @include respond-to('tablet') {
                width: 300px;
                height: 30px;
                font-size: 8px;
            }

            @include respond-to('big_mobile') {
                width: 200px;
                height: 20px;
                font-size: 6px;
                padding-left: 10px;
            }
        }

        &__name {}


        &__phone {}


        &__comment {}

        button {
            width: 500px;

            @include respond-to('big_laptop') {
                width: 400px;
                height: 50px;
            }

            @include respond-to('laptop') {
                height: 40px;
                font-size: 12px;
            }

            @include respond-to('tablet') {
                width: 300px;
                height: 30px;
                font-size: 8px;
            }

            @include respond-to('big_mobile') {
                width: 200px;
                height: 20px;
                font-size: 6px;
                padding-left: 10px;
            }
        }


        &__submit_btn {}


        &__q_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primary-color;
            background-color: #E5E4DF;
            border: 2px solid;
            border-color: $primary-color;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }

    &__image {
        position: relative;
        top: 15px;

        @include respond-to('big_laptop') {
            top: 0px;
            height: 100%;
        }

        @include respond-to('laptop') {
            display: none;
        }
    }


}