@use '../../variables' as *;
@use '../../mixins' as *;


.addresses {
    height: 700px;
    background-color: #F3F3F0;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include respond-to('tablet') {
        height: 1000px;
    }

    @include respond-to('big_mobile') {
        height: 600px;
        gap: 30px;
    }




    &__title {
        padding-top: 60px;
        font-size: 40px;
        text-transform: uppercase;

        @include respond-to('laptop') {
            font-size: 30px;
            padding-top: 40px;
        }

        @include respond-to('big_mobile') {
            font-size: 20px;
            padding-top: 30px;
        }
    }


    &__blocks {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "block1 block2 block3";


        @include respond-to('tablet') {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "block1"
                "block2"
                "block3";
        }


        &--block1 {
            grid-area: block1;
        }

        &--block2 {
            grid-area: block2;
        }

        &--block3 {
            grid-area: block3;
        }

    }


    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        gap: 30px;
        border-radius: 20px;
        padding: 30px;

        @include respond-to('big_mobile') {
            padding: 15px;
            gap: 15px;
        }

        @keyframes pulseScale {

            0%,
            100% {
                transform: scale(1);
            }

            50% {
                transform: scale(0.9);
            }
        }

        &__img {
            width: 100px;
            animation: pulseScale 2s infinite ease-in-out;
            transform-origin: center;

            @include respond-to('big_laptop') {
                width: 80px;
            }

            @include respond-to('tablet') {
                width: 50px;
            }

            @include respond-to('big_mobile') {
                width: 30px;
            }
        }

        &__title {
            font-size: 24px;
            text-align: center;

            @include respond-to('big_laptop') {
                font-size: 18px;
            }

            @include respond-to('tablet') {
                font-size: 12px;
            }

            @include respond-to('big_mobile') {
                font-size: 8px;
            }
        }

        &__description {
            font-size: 16px;
            text-align: center;

            @include respond-to('big_laptop') {
                font-size: 14px;
            }

            @include respond-to('tablet') {
                font-size: 10px;
            }

            @include respond-to('big_mobile') {
                font-size: 6px;
            }
        }
    }

    &__contacts {
        display: flex;
        border-radius: 20px;
        border: 1px solid;
        border-color: $primary-color;
        justify-content: space-between;
        padding: 10px 20px;

        @include respond-to('big_mobile') {
            padding: 5px 10px;
        }


        &__text {
            display: flex;
            font-size: 32px;
            align-items: center;
            gap: 10px;
            text-transform: uppercase;


            img {
                border-radius: 50px;

                @include respond-to('tablet') {
                    width: 50px;
                }

                @include respond-to('big_mobile') {
                    width: 30px;
                }
            }

            @include respond-to('big_laptop') {
                font-size: 24px;
            }

            @include respond-to('tablet') {
                font-size: 12px;
            }

            @include respond-to('big_mobile') {
                font-size: 8px;
            }

        }

        &__buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                display: flex;
                align-items: center;
                width: 300px;
                height: 50px;
                font-size: 16px;
                justify-content: center;

                @include respond-to('before_desktop') {
                    width: 250px;
                    font-size: 14px;
                }

                @include respond-to('big_laptop') {
                    width: 200px;
                    font-size: 12px;
                }

                @include respond-to('tablet') {
                    width: 100px;
                    height: 30px;
                    font-size: 8px;
                }

                @include respond-to('big_mobile') {
                    width: 70px;
                    height: 20px;
                    font-size: 6px;
                }

                img {

                    @include respond-to('tablet') {
                        width: 20px;
                    }

                    @include respond-to('big_mobile') {
                        width: 10px;
                    }
                }

            }

            &--whatsapp_btn {
                color: $primary-color;
                background-color: #E5E4DF;

                &:hover {
                    background-color: $primary-color;
                    color: #fff;
                }
            }
        }
    }
}