@use '../../variables' as *;
@use '../../mixins' as *;


.dealers {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;



    &__title {
        padding-top: 200px;
        font-size: 60px;

        @include respond-to('big_laptop') {
            font-size: 48px;
        }

        @include respond-to('tablet') {
            font-size: 24px;
            padding-top: 100px;
        }

        @include respond-to('big_mobile') {
            font-size: 12px;
        }


    }

    &__description {
        font-size: 44px;
        padding-bottom: 100px;

        @include respond-to('big_laptop') {
            font-size: 32px;
        }

        @include respond-to('tablet') {
            font-size: 18px;
            padding-bottom: 50px;
        }

        @include respond-to('big_mobile') {
            font-size: 8px;
        }

    }

    &__background {
        display: flex;
        


        &__textblock {
            font-size: 24px;
            background-color: #fff;
            padding: 40px;
            position: absolute;
            bottom: 0;
            right: 0;
            padding-right: 18vw;

            @include respond-to('big_laptop') {
                font-size: 18px;
            }

            @include respond-to('tablet') {
                font-size: 12px;
                padding: 20px;
            }

            @include respond-to('big_mobile') {
                font-size: 8px;
                padding: 10px;
            }

        }


        &__img {
            @include respond-to('tablet') {
                height: 300px;
            }

            @include respond-to('big_mobile') {
                height: 200px;
            }

        }
    }



}