@use '../../variables' as *;
@use '../../mixins' as *;


.partners {
    height: auto;

    &__blocks {
        display: flex;
        padding: 100px 0;
        gap: 20px;


        @include respond-to('big_mobile') {
                flex-direction: column;
            }

        &__block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 30px;
            background-color: #F3F3F0;
            padding: 100px;
            border-radius: 20px;
            margin-bottom: 100px;

            @include respond-to('laptop') {
                padding: 50px;
            }

            @include respond-to('tablet') {
                padding: 20px;
            }

            &__img {
                @include respond-to('before_desktop') {
                    width: 100%;
                }

                @include respond-to('tablet') {
                    width: 80%;
                }
            }


            &__title {
                font-size: 30px;

                @include respond-to('big_laptop') {
                    font-size: 24px;
                }

                @include respond-to('tablet') {
                    font-size: 18px;
                }

            }


            &__description {
                font-size: 20px;

                @include respond-to('big_laptop') {
                    font-size: 14px;
                }

                @include respond-to('tablet') {
                    font-size: 8px;
                }

            }
        }
    }


}