@use '../../variables' as *;
@use '../../mixins' as *;

.salon_swiper {


    &__wrapper {}


    &__slide {
        transition: transform 0.5s ease;


        &__img {
            @include respond-to('before_desktop') {
                width: 100%;
            }

        }
    }


    // Кнопки навигации
    &-button-prev,
    &-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100; // Увеличенный z-index
        font-weight: bold;
        font-size: 30px;
        color: $primary-color;
        user-select: none;
        border: 2px solid;
        border-color: $primary-color;

        &:hover {
            background: rgba(255, 255, 255, 1);
        }

        @include respond-to('big_laptop') {
            width: 50px;
            height: 50px;
        }

        @include respond-to('tablet') {
            width: 30px;
            height: 30px;
            font-size: 20px;
        }

        @include respond-to('big_mobile') {
            width: 20px;
            height: 20px;
            font-size: 10px;
            border: 1px solid;
        }
    }

    &-button-prev {
        left: 11vw;

        @include respond-to('big_laptop') {
            left: 2vw;
        }
        @include respond-to('laptop') {
            left: 35vw;
            top: 34vw;
        }
        @include respond-to('big_mobile') {
            left: 35vw;
            top: 30vw;
        }
    }

    &-button-next {
        right: 13vw;

        @include respond-to('big_laptop') {
            right: 5vw;
        }
        @include respond-to('laptop') {
            right: 35vw;
            top: 34vw;
        }
        @include respond-to('big_mobile') {
            right: 35vw;
            top: 30vw;
        }
    }


    &::before,
    &::after {
        max-width: 100%;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 33vw; // Нужное количество пикселей
        background-color: #fff; // Цвет заливки
        z-index: 10;

        @include respond-to('big_laptop') {
            width: 25vw;
        }

        @include respond-to('laptop') {
            width: 20vw;
        }
    }

    &::before {
        left: -18vw; // Такой же размер как width
    }

    &::after {
        right: -15vw; // Такой же размер как width
    }

}

.swiper-slide-active-custom {
    transition: transform 0.5s ease;
    transform: scale(1.2);


}