<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application</title>
</head>

<body>
    <div class="wrapper application_wrapper">
        <section class="container application">
            <form action="" class="application__form" id="application__form">
                <div class="application__form__title"><span>ОСТАВИТЬ ЗАЯВКУ НА УЧАСТИЕ</span></div>
                <input type="text" id="application__form__name" placeholder="Имя">
                <input type="tel" id="application__form__phone" placeholder="Телефон">
                <input type="text" id="application__form__comment" placeholder="Комментарий">
                <button type="submit" class="button button--secondary application__form__submit_btn">Отправить</button>
                <button class="button button--primary application__form__q_btn"><img src="../img/application/application_icon.svg" alt="">Есть вопросы? Напишите нам!</button>
            </form>
            <img src="../img/application/application_person.png" alt="" class="application__image">
        </section>
    </div>
<script type="module" src="../js/forms.js"></script>
</body>

</html>