<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperation</title>
</head>

<body>
    <div class="wrapper cooperation_wrapper">
        <img class="cooperation__bg"  src="../img/cooperation/aooperation_bg.png" alt="">
        <img class="cooperation__shadow" src="../img/cooperation/shadow.svg" alt="">
        <section class="container cooperation">
            <form action="" class="cooperation__form" id="cooperation__form">
                <div class="cooperation__form__title"><span class="Muller-Trial-Bold">сотрудничество</span> <br></div>
                <div class="cooperation__form__description"><span class="Muller-Trial-LightItalic">с дизайнерами и комплектаторами</span></div>
                <input type="text" id="cooperation__form__name" placeholder="Имя">
                <input type="tel" id="cooperation__form__phone" placeholder="Телефон">
                <textarea type="text" id="cooperation__form__comment" placeholder="Комментарий"></textarea>
                <button type="submit" class="button button--secondary cooperation__form__submit_btn">Отправить</button>
            </form>
            <img src="../img/cooperation/cooperation_person.png" alt="" class="cooperation__image">
        </section>
    </div>
<script type="module" src="../js/forms.js"></script>
</body>

</html>