<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Футер</title>
</head>
<body>
  <footer class="footer">
    <div class="footer__container">
      <span class="footer__text">ИП Лахтина Виктория Геннадьевна</span>
      <span class="footer__inn">ИНН 550144846664</span>
      <a href="tel:+79183736004" class="footer__phone">+7 918 373 60 04</a>
      <span class="footer__email">info@lahtina.ru</span>

      <div class="footer__dev">
        <span class="footer__dev-text">Разработка:</span>
        <a href="#" class="footer__dev-logo">
          <img src="/src/img/footer/stdkit.svg" alt="STDKIT">
        </a>
      </div>

      
      <div class="footer__social">
        <a href="#" class="footer__social-link"><img src="/src/img/footer/ant-design_instagram-filled.svg" alt="Instagram"></a>
        <a href="#" class="footer__social-link"><img src="/src/img/footer/mingcute_youtube-fill.svg" alt="YouTube"></a>
        <a href="#" class="footer__social-link"><img src="/src/img/footer/rutube.svg" alt="Rutube"></a>
        <a href="#" class="footer__social-link"><img src="/src/img/footer/ri_vk-fill.svg" alt="VK"></a>
        <a href="#" class="footer__social-link"><img src="/src/img/footer/mdi_pinterest.svg" alt="Pinterest"></a>
      </div>
    </div>
  </footer>
</body>
</html>