<!DOCTYPE html>
<html lang="ru">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="nav-section">
                <button class="nav-button">Школа дизайна</button>
                <button class="nav-button">Студия дизайна</button>
                <button class="nav-button">Комплектация</button>
            </div>

            
            <div class="logo">
                <img src="/src/img/header/logo.svg" alt="Логотип">
            </div>

            <div class="contacts-section">
                <a href="tel:+79180000000" class="phone-link"> 7 918 000 00 00</a>
                <button class="contact-button">Связаться с нами</button>
            </div>
        </div>
    </header>
</body>

</html>