 .private-text {
     display: flex;
     flex-direction: column;
     height: auto;
     min-height: 500px;
     align-items: center;
     background-color: #fff;
     padding: 200px 0;
     font-family: Muller-Trial-Bold;
     font-size: 60px;
 }