@use '../../variables' as *;

.founder {
  position: relative;
  display: flex;
  min-height: 100vh;
  font-family: Muller-Trial-Regular;
  background-color: white;
  overflow: hidden;

  &__image-column {
    width: 50%;
    position: relative;
    background-image: url('~@img/studio-design/founder/founder.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    &--face {
      position: absolute;
      width: 120%;
      max-width: 150%;
      right: -100px;
      bottom: -15%;
      margin-left: 18vw;
      z-index: 1;
    }
  }

  &__text-column {
    width: 50%;
    position: relative;
    background: rgba($color: #6e6e6e, $alpha: 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 18vw 5rem 5rem;
    z-index: 2;
  }

  &__header {
    margin-bottom: 3rem;
    transform: translateX(-15rem);
  }

  &__title {
    font-family: Muller-Trial-Bold;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    color: #333;
  }

  &__name {
    font-family: Muller-Trial-LightItalic;
    font-size: 2rem;
    color: $primary-color;
    position: relative;
    display: inline-block;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 1px;
      background: $primary-color;
    }
  }

  &__description {
    p {
      font-size: 1.2rem;
      line-height: 1.8;
      margin-bottom: 1.5rem;
      color: #444;
    }
  }

  .highlight {
    color: $primary-color;
    font-weight: 500;
  }

  @media (max-width: 1200px) {
    &__header {
      transform: translateX(0);
    }
    
    &__text-column {
      padding: 3rem;
    }
  }
}