@use '../../variables' as *;

.head {
    background: #656565;
    background-image: url('~@img/studio-design/head/head-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('~@img/studio-design/head/Shadow-head.svg');
        opacity: 1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        filter: brightness(0.1);
    }

    &__text {
        position: relative;
        z-index: 2;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--h1 {
            font-family: Muller-Trial-Bold;
            font-size: 5rem;
            margin: 0;
        }

        &--h2 {
            font-family: Muller-Trial-Light;
            font-size: 5rem;
            margin: 0;
        }
    }
}

.button {
    background-color: $secondary-color;
    color: white;
    font-family: Muller-Trial-Regular;
    margin-top: 2%;
}