@use '../../variables' as *;
@use '../../mixins' as *;

.eight-steps{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    &__header {
        font-family: Muller-Trial-Bold;
        font-size: 1.5rem;

        span {
            font-family: Muller-Trial-LightItalic;
        }
    }
}

.column-container{
    columns: 2;
    gap: auto;
    display: flex;
    justify-content: space-between;

    &__column{
        height: max-content;
    }
}

.eight-steps-flexbox{
    display: flex;
    flex-direction: row;
    height: min-content;
    gap: 15px;

    h1{
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}