@use '../../variables' as *;
@use '../../mixins' as *;


.about {
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__bg {
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -2;

        &--left {
            background-color: #E2D0C9;
            width: 50%;
            left: 0;
        }

        &--right {
            background-color: #fff;
            width: 50%;
            left: 50%;
        }
    }

    &__shadow {
        width: 100vw;
        height: 100%;
        position: absolute;
        z-index: -1;
        object-fit: cover;
    }

    &__name {
        font-family: 'Muller-Trial-Bold';
        font-size: 40px;
        position: relative;
        left: 100px;
    }

    &__title {
        font-family: 'Muller-Trial-LightItalic';
        color: $primary-color;
        font-size: 24px;
        position: relative;
        left: 178px;
    }

    &__description {
        font-family: 'Muller-Trial-LightItalic';
        font-size: 20px;
        margin: 60px 0;
        position: relative;
        left: 250px;
    }

    &__button {
        position: relative;
        left: 225px;
        color: $primary-color;
        background-color: transparent;
        border: 2px solid;
        border-color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

    &__person {
        position: absolute;
        width: 100%;
        height: 100%;
        max-height: 100%;
        top: 5px;
        left: -273px;
        overflow: hidden;
    }

    &__wrapper {
        
    }
}