@use '../../variables' as *;
@use '../../mixins' as *;


.after_course {
    height: 806px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 70px;


    @include respond-to('tablet') {
        height: 700px;
    }

    @include respond-to('big_mobile') {
        height: 600px;
    }




    &__textblock {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }


    &__title {
        font-size: 40px;
        padding-bottom: 50px;

        @include respond-to('tablet') {
            font-size: 20px;
            padding-bottom: 30px;
        }
    }


    &__description {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;


        &__img {
            @include respond-to('big_laptop') {
                width: 10%;
            }
        }


        &__text {
            font-size: 18px;

            @include respond-to('big_laptop') {
                font-size: 12px;
            }

            @include respond-to('tablet') {
                font-size: 10px;
            }

            @include respond-to('big_mobile') {
                font-size: 6px;
            }
        }
    }


    &__main {
        display: flex;
        padding-top: 50px;
        align-items: center;



        &__text {
            font-size: 40px;
            color: #13656B;
            font-family: 'Muller-Trial-LightItalic';

            @include respond-to('before_desktop') {
                font-size: 30px;
            }

            @include respond-to('big_laptop') {
                font-size: 16px;
            }



            @include respond-to('laptop') {
                font-size: 20px;
            }


        }

        &__img {
            position: relative;
            top: -60px;
            left: 15px;
            width: 40%;

            @include respond-to('big_laptop') {
                top: -30px;
                width: 50%;
            }

            @include respond-to('laptop') {
                top: -30px;
                width: 50%;
            }

            @include respond-to('big_mobile') {
                width: 105%;
            }

            @include respond-to('small_mobile') {
                width: 150%;
                top: -46px;
            }
        }


    }


    &__image_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        border-color: gray;
        border-radius: 20px;
        padding: 20px;
        gap: 20px;



        &__img {

            @include respond-to('big_laptop') {
                width: 80%;
            }



        }


        &__text {
            font-size: 18px;
            display: flex;

            @include respond-to('big_laptop') {
                font-size: 12px;
            }

            @include respond-to('tablet') {
                font-size: 10px;
            }


            @include respond-to('big_mobile') {
                font-size: 6px;
            }


        }
    }




}