@use '../../variables' as *;
@use '../../mixins' as *;

.expectations {
    height: 1112px;
    background-color: #E5E4DF75;

    &__title {
        font-size: 40px;
        padding: 50px 0px;

        @include respond-to('tablet') {
            font-size: 20px;
        }
    }


    &__blocks {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "block1 block2 block5 block6"
            "block3 block4 block5 block6"
            "block7 block7 block8 block8"
            "block9 block10 block11 block11";
        font-size: 24px;
        gap: 30px;
        vertical-align: middle;

        @include respond-to('before_desktop') {
            font-size: 20px;
            gap: 20px;
        }

        @include respond-to('big_laptop') {
            grid-template-areas:
                "block1 block2 block5 block6"
                "block3 block3 block4 block4"
                "block7 block7 block8 block8"
                "block9 block10 block11 block11";

            font-size: 15px;
        }

        @include respond-to('tablet') {
            font-size: 10px;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas:
                "block1 block2 block5"
                "block3 block3 block6"
                "block4 block7 block7"
                "block9 block8 block8"
                "block10 block11 block11";

        }

        @include respond-to('middle_mobile') {
            font-size: 8px;
            gap: 8px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                "block1 block2"
                "block3 block4"
                "block5 block6"
                "block8 block8"
                "block9 block10"
                "block7 block11";

        }



        &__img {

            @include respond-to('before_desktop') {
                width: 100%;
            }
        }



        &__title {
            font-family: 'Muller-Trial-Bold';
            padding-top: 10px;
        }


        &__description {
            font-family: 'Muller-Trial-LightItalic';
            padding-bottom: 10px;
        }

        &__block {
            padding: 10px 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            transition: background-color 0.5s ease;
            transition: background 0.5s ease;

            &:hover {
                cursor: pointer;
            }

            &--active1 {
                background-color: #8D725D;
                color: #fff;
                -webkit-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
                -moz-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
                box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
            }

            &--active2 {
                background-color: $secondary-color;
                color: #fff;
                -webkit-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
                -moz-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
                box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7);
            }


            &--disabled {
                background-color: #E5E4DF;

                -webkit-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7) inset;
                -moz-box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7) inset;
                box-shadow: 0px 16px 15px -4px rgba(50, 55, 58, 0.7) inset;
            }


            &--normal {
                color: #000;
                background-color: #fff;
            }

            @include respond-to('tablet') {
                padding: 10px 10px;
            }
        }

        &__block1 {
            grid-area: block1;
        }

        &__block2 {
            grid-area: block2;
        }

        &__block3 {
            grid-area: block3;
        }

        &__block4 {
            grid-area: block4;
        }

        &__block5 {
            grid-area: block5;
            align-items: center;
            margin: 0;

            @include respond-to('desktop') {

                margin: 0 auto;
                align-items: normal;
            }
        }

        &__block6 {
            grid-area: block6;
            align-items: center;
            margin: 0;

            @include respond-to('desktop') {

                margin: 0 auto;
                align-items: normal;
            }
        }

        &__block7 {
            grid-area: block7;
        }

        &__block8 {
            grid-area: block8;
        }

        &__block9 {
            grid-area: block9;
        }

        &__block10 {
            grid-area: block10;
        }

        &__block11 {
            grid-area: block11;
        }
    }
}