@use '../../variables' as *;
@use '../../mixins' as *;


.offer {
    height: 322px;
    background-color: #E5E4DF75;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;


        &__title {
            font-size: 40px;
        }


        &__description {
            font-size: 20px;
        }
    }


    &__button {
        width: 400px;
        font-size: 32px;
    }
}