@use 'variables' as *;
@use 'mixins' as *;

html {
  scroll-behavior: smooth;

  /* Включить плавную прокрутку для всей страницы */
  :target {
    scroll-margin-top: 100px;
  }
}

body {
  font-family: 'Muller-Trial-Regular';
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;


}

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  opacity: 0.7;
  transition: opacity 0.3s;
  z-index: 999;
  transition: bottom 0.5s ease;

  @include respond-to('tablet') {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  @include respond-to('big_mobile') {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

#back-to-top:hover {
  opacity: 1;
  background-color: #555;
}

#back-to-top::after {
  content: "↑";
}


.container {
  padding: 0 18vw;

  @include respond-to('big_laptop') {
    padding: 0 10vw;
  }

  @include respond-to('laptop') {
    padding: 0 5vw;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-x-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-x-left.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-x-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-x-right.visible {
  opacity: 1;
  transform: translateY(0);
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s, visibility 0.5s;
}

#preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Анимация для логотипа */
@keyframes tripleColorCycle {

  0%,
  100% {
    /* Чёрный (#000) */
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
  }

  33% {
    /* Коричневый (#8D725D) */
    filter: brightness(0.6) saturate(100%) invert(30%) sepia(15%) saturate(800%) hue-rotate(350deg);
  }

  66% {
    /* Бирюзовый (#13656B) */
    filter: brightness(0.7) saturate(100%) invert(20%) sepia(50%) saturate(800%) hue-rotate(150deg);
  }
}

.preloader__logo {
  width: 200px;
  height: auto;
  animation: tripleColorCycle 6s infinite;
  margin-bottom: 30px;
}

/* Стили прогресс-бара */
.progress-container {
  width: 300px;
  height: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #13656B, #8D725D);
  transition: width 0.3s ease;
  border-radius: 5px;
}