@use "sass:color";
@use "sass:map";

@mixin respond-to($breakpoint) {
  // Карта брейкпоинтов
  $breakpoints: (
    'small_mobile': 320px,
    'middle_mobile': 375px,
    'big_mobile': 425px,
    'tablet': 768px,
    'laptop': 1024px,
    'big_laptop': 1440px,
    'before_desktop': 1919px,
    'desktop': 1920px,
    '4k': 2560px,
  );

  // Проверяем существует ли брейкпоинт в карте (новый синтаксис)
  @if map.has-key($breakpoints, $breakpoint) {
    // Получаем значение брейкпоинта (новый синтаксис)
    $value: map.get($breakpoints, $breakpoint);
    
    // Создаем медиазапрос
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Неизвестный брейкпоинт `#{$breakpoint}`. Используйте один из: #{map.keys($breakpoints)}";
  }
}


@mixin hover-effect($color) {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: color.scale($color, $lightness: -30%);
  }
}

@mixin hover-effect-color($color) {
  transition: color 0.3s ease;
  &:hover {
    color: color.scale($color, $lightness: -30%);
  }
}

@mixin transparent-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 3rem;
  position: relative;
  bottom: 0;
  cursor: pointer;
  padding: 0 1.5rem;
  transition: all 0.3s ease;

  &:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }
}