@use 'variables' as *;
@use 'mixins' as *;
@use 'base' as *;


@use 'components/homepage/preview.scss';
@use 'components/homepage/links.scss';


@use 'components/buttons';
@use 'components/header';
@use 'components/header-light';
@use 'components/application';
@use 'components/cooperation';
@use 'components/footer';


@use 'components/mentoring/performance';
@use 'components/mentoring/about';
@use 'components/mentoring/reasons';
@use 'components/mentoring/expectations';
@use 'components/mentoring/after_course';
@use 'components/mentoring/course_program';
@use 'components/mentoring/offer';
@use 'components/mentoring/tariff';


@use 'components/furniture_salon_chain/salon_map';
@use 'components/furniture_salon_chain/addresses.scss';
@use 'components/furniture_salon_chain/dealers.scss';
@use 'components/furniture_salon_chain/partners.scss';
@use 'components/furniture_salon_chain/props.scss';
@use 'components/furniture_salon_chain/salon_swiper.scss';


@use 'components/complex_equipment_of_facilities/equipment';
@use 'components/complex_equipment_of_facilities/include';
@use 'components/complex_equipment_of_facilities/advantages';
@use 'components/complex_equipment_of_facilities/cost';


@use 'components/HAUSKA/deco.scss';
@use 'components/HAUSKA/history.scss';
@use 'components/HAUSKA/vaseprod.scss';




@use 'components/design-studio/head';
@use 'components/design-studio/founder';
@use 'components/design-studio/us-team';
@use 'components/design-studio/us-achievements';
@use 'components/design-studio/us-projects';
@use 'components/design-studio/why-us';
@use 'components/design-studio/review';
@use 'components/design-studio/eight-steps';
@use 'components/design-studio/service';
@use 'components/design-studio/investitions';


@use 'components/complex-equipment/complex-equipment';
@use 'components/complex-equipment/equipment-info';
@use 'components/complex-equipment/equipment-more';




@use 'components/paci/paci1.scss';
@use 'components/paci/paci2.scss';


@font-face {
    font-family: Muller-Trial-BoldItalic;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-BoldItalic.woff2") format("woff2");
}

.Muller-Trial-BoldItalic {
    font-family: 'Muller-Trial-BoldItalic';
}

@font-face {
    font-family: Muller-Trial-Bold;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-Bold.woff2") format("woff2");
}

.Muller-Trial-Bold {
    font-family: 'Muller-Trial-Bold';
}

@font-face {
    font-family: Muller-Trial-RegularItalic;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-RegularItalic.woff2") format("woff2");
}

.Muller-Trial-RegularItalic {
    font-family: 'Muller-Trial-RegularItalic';
}

@font-face {
    font-family: Muller-Trial-Regular;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-Regular.woff2") format("woff2");
}

.Muller-Trial-Regular {
    font-family: 'Muller-Trial-Regular';
}

@font-face {
    font-family: Muller-Trial-LightItalic;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-LightItalic.woff2") format("woff2");
}

.Muller-Trial-LightItalic {
    font-family: 'Muller-Trial-LightItalic';
}

@font-face {
    font-family: Muller-Trial-Light;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/src/assets/fonts/Muller-Trial-Light.woff2") format("woff2");
}

.Muller-Trial-Light {
    font-family: 'Muller-Trial-Light';
}

